*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.head-pic{
	background-image: url(img/mv.jpg);
	background-size: cover;
    background-position: bottom;
	height: 400px;
	width: 100%
}
.head-text{
    padding: 20px;
    color:gray;
}
main{
	width: 840px;
	margin: 50px auto;
}
.item-text1{
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px: 
	color:gray;
}
.item-text2{
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px: 
	color:gray;
}
.item-text3{
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px: 
	color:gray;
}
.item-text4{
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px: 
	color:gray;
}

